// project colour scheme

$beige: #E2D5CE;
$silver-grey: #C4C4C4;
$cream: #FFFAF1;
$blue-grey: #68829E;
$slate-blue: #717e8e;
$royal-blue: #4169E1;

//

html, body {
  height: 100vh;
  font-family: futura;
  font-style: italic;
  background-color: $cream;
}

.hero-body {
  display: flex;
  flex: row;
  justify-content: flex-end;
}

.carousel {
  height: 100;
  overflow-x: hidden;
  position: relative;
}

.carousel-images {
  display: flex;
  animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
 to {
   transform: translateX(-100%)
 }
}

.women-section {
  display: flex;
  flex-wrap: wrap;
}

.poster {
  width: 300px;
}

.similarMovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.similarMovieItem {
  width: 200px;
  margin: 1px;
}



//****** KIANNA - FAVOURITE PAGE STYLING ******//

