// project colour scheme

$beige: #E2D5CE;
$silver-grey: #C4C4C4;
$cream: #FFFAF1;
$blue-grey: #68829E;
$slate-blue: #717e8e;
$royal-blue: #4169E1;

html, body {
  height: 100vh;
}

.hero-body {
  display: flex;
  flex: row;
  justify-content: flex-end;
}

.movie {
  margin-top: 20px;
  background: LightGray;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20% 20%;

}