// project colour scheme

$beige: #E2D5CE;
$silver-grey: #C4C4C4;

html, body {
  height: 100vh;
}

.hero-body {
  display: flex;
  flex: row;
  justify-content: flex-end;
}

.movieList {
  margin-top: 20px;
  background: LightGray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movieItem {
  width: 300px;
}

.poster {
  width: 300px;
}

.similarMovieList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.similarMovieItem {
  width: 200px;
  margin: 1px;
}